/* admin_products.css */
.admin-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}
